.Navbar{
    background-color:black;
    margin-top: -1%;
    margin-left: -1%;
    width: 102%;
    height: 80px;
    position:fixed;
}


.letterMenu{
    margin-top: -100px;
    position: relative;
    top: -140%;
    margin-left: 2%;
    color:white;
    display: inline;
    padding-left: 12px;
    font-size: 135%;
    text-decoration: none;
}

.menu{
 cursor: pointer;
 height: 50px;
 width: 700px;;
 margin-left: 32%;
 margin-top: 34px;
}


.iconmarket{
    height: 40px;
    margin-left: 1445px;
    margin-top: 2%;;
}

.iconlogo{
    position: relative;
    left: 435px;
    top: -10px;
    height:40px;
    width: 40px;
    margin-top: -110px;
    margin-right: 750px;
}